/*------------------------- HEADER -----------------------------------
--
-- UWTacoma SET – TINFO 230 C: Foundations of Web Design and 
-- Programming, Winter 2022
-- Team H members:
-- # Andrew Boupharath
-- # Zulalureman Ebro
-- # Jared Howard
-- # Shweta Kushan
-- 2022-02-15 – style.css
-- This is the stylesheet for pages of the site
--
------------------------ CHANGE HISTORY ------------------------------
--
-- Date ------- Developer ---- Description
-- 2022-02-15 – Jared Howard - Stylesheet started
-- 2022-02-18 - Jared Howard - Styling for headers and footers completed. Worked around div elements by using some sections
-- 2022-02-19 - Jared Howard - Added a subsection for gallery photos and moved photo formatting to bottom
--*/

/* ------------------------- TEXT STYLING ---------------------------
-- DESCRIPTION: Formatting section for text
-- */
/* ---------------------- TEXT STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-17 - Jared Howard – Section created and text styling added for body and h1-4
-------------------------- END OF CHANGES ------------------------ */

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

    a:link, a:visited, a:hover, a:active {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #FFCFEE
}

header {
    width: 100%;
    padding: 10px;
    background-color: #FFCFEE;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* ------------------------ END OF TEXT STYLING --------------------- */

/* ------------------------- HEADER STYLING ---------------------------
-- DESCRIPTION: Formatting section for page headers.
-- */
/* ---------------------- HEADER STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-17 - Jared Howard – Section created and navigation text style added. Added a green background to test color.
-- 2022-02-19 - Jared Howard – Added styling IDs for the two header sections (#prc and #navigation)
-------------------------- END OF CHANGES ------------------------ */

#prc {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 10%;
    padding: 0px;
    background-color: #FFCFEE;
}

#navigation {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 10%;
    padding: 0px;
    background-color: #FFCFEE;
}

#navigation2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70%;
    height: 10%;
    padding: 0px;
    background-color: #FFCFEE;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    padding: 0 10px;
    padding-top: 4%;
    background-color: #FFCFEE;
}

    nav ul {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        color: black;
        background-color: #FFCFEE;
    }

        nav ul li {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: inline-block;
            color: black;
            background-color: #FFCFEE;
        }

/* ------------------------ END OF HEADER STYLING --------------------- */

/* ------------------------- FOOTER STYLING ---------------------------
-- DESCRIPTION: Formatting section for page footers.
-- */
/* ---------------------- FOOTER STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-17 - Jared Howard – Section created and navigation text style added
-- 2022-02-19 - Jared Howard – Added styling ID for page footer
-- 2022-02-20 - Jared Howard – added a 0px padding for footers to keep them stuck at bottom
-------------------------- END OF CHANGES ------------------------ */

#footer {
    position: absolute;
    width: 100%;
    height: 3%;
    padding: 0px;
    bottom: 0px;
    background-color: #FFCFEE;
}

/* ------------------------ END OF FOOTER STYLING --------------------- */

/* ------------------------- HOME.html STYLING ---------------------------
-- DESCRIPTION: Formatting section Home page of our site
-- */
/* ---------------------- HOME.html STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-19 - Jared Howard – Created section and started IDs for each section I created
-- 2022-02-20 - Jared Howard – Cut down on styling rules to make the sections work better
-------------------------- END OF CHANGES ------------------------ */

#welcome {
    height: 5%;
    padding: 4%;
    padding-top: 15%;
    padding-left: 50%;
}

#ourservices {
    text-align: center;
    background-color: #FFCFEE;
    padding: 1%;
}

#mealpreparation {
    width: 50%;
    padding-left: 50%;
}

#catering {
    width: 50%;
    padding-left: 50%;
    padding-bottom: 5%;
}

/* ------------------------ END OF HOME.html STYLING --------------------- */

/* ------------------------- ABOUT.html STYLING ---------------------------
-- SOURCE: (gallery styling)
https://www.w3docs.com/snippets/css/how-to-auto-resize-an-image-to-fit-an-html-container.html
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/
-- DESCRIPTION: Formatting section for the About page of our site
-- */
/* ---------------------- ABOUT.html STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-19 - Jared Howard – Created section and started IDs for each section I created
-- 2022-02-20 - Jared Howard – Created and formatted aboutme section. Tried getting customer review section to be formatted nicely.
-- 2022-02-22 - Jared Howard - Added some funcitonality for gallery display on About.html page. Subsection for that code created.
-------------------------- END OF CHANGES ------------------------ */

#aboutme {
    height: 5%;
    padding: 4%;
    padding-top: 15%;
    padding-left: 50%;
}

#customerreviews {

}

/* ------------------------- ABOUT.html GALLERY SUBSECTION STYLING -------- */

figure {
    display: inline-block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0px;
    margin-right: 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 30vw);
    grid-gap: 1px;
}
/* ------------------------- ABOUT.html GALLERY SUBSECTION STYLING -------- */

/* ------------------------ END OF ABOUT.html STYLING --------------------- */

/* ------------------------- SITE PHOTOS ---------------------------
-- DESCRIPTION: Formatting section for site photos
-- */
/* ---------------------- SITE PHOTOS CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-15 - Jared Howard – Section created and first examples written.
-- 2022-02-19 - Jared Howard – Some comments added and subsection created for a gallery.
-- 2022-02-22 - Jared Howard – Replaced placeholder formatting for gallery pictures with comments. 
-------------------------- END OF CHANGES ------------------------ */
/* Used on home page*/
#pic1 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
/* Used on home page*/
#pic2 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
/* Used on home page*/
#pic3 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
/* Used on How it Works page*/
#pic4 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
/* Used on How it Works page*/
#pic5 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
/* Used on How it Works page*/
#pic6 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
/* ------------------------- GALLERY SUBSECTION ---------------------------
-- DESCRIPTION: Formatting section for photos in gallery on about page
-- */
#gallery1 {
/* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery2 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery3 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery4 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery5 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery6 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery7 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery8 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery9 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery10 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery11 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery12 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery13 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery14 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery15 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery16 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}

#gallery17 {
    /* Add styling as needed. Probably taken care of in About.html gallery subsection */
}
/* ------------------------ END OF GALLERY SUBSECTION -------------- */
/* ------------------------ END OF SITE PHOTOS --------------------- */

/*-- FAQ --*/
details > summary {
  padding: 2px;
  align-items: center;
  width: 99px;
  background-color: #D3D3D3;
  border: none;
  box-shadow: 1px 1px  #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #D3D3D3;
  align-items: center;
  padding: 2px;
  margin: 0;
  box-shadow: 1px 1px  #bbbbbb;
}

/*-- FAQ --*/
