/*------------------------- HEADER -----------------------------------
--
-- UWTacoma SET – TINFO 230 C: Foundations of Web Design and 
-- Programming, Winter 2022
-- Team H members:
-- # Andrew Boupharath
-- # Zulalureman Ebro
-- # Jared Howard
-- # Shweta Kushan
-- 2022-02-15 – style.css
-- This is the stylesheet for pages of the site
--
------------------------ CHANGE HISTORY ------------------------------
--
-- Date ------- Developer ---- Description
-- 2022-02-15 – Jared Howard - Stylesheet started
--*/

/* ------------------------- SITE PHOTOS ---------------------------
-- DESCRIPTION: Formatting section for site photos
-- */
/* ---------------------- SITE PHOTOS CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-15 - Jared Howard – Section created and first examples written.
-------------------------- END OF CHANGES ------------------------ */
#pic1 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic2 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic3 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic4 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic5 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic6 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic7 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic8 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic9 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
#pic10 {
    align-self: center;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}
/* ------------------------ END OF SITE PHOTOS --------------------- */
body {
}