/*------------------------- HEADER -----------------------------------
--
-- UWTacoma SET – TINFO 230 C: Foundations of Web Design and 
-- Programming, Winter 2022
-- Team H members:
-- # Andrew Boupharath
-- # Zulalureman Ebro
-- # Jared Howard
-- # Shweta Kushan
-- 2022-02-15 – style.css
-- This is the stylesheet for pages of the site
--
------------------------ CHANGE HISTORY ------------------------------
--
-- Date ------- Developer ---- Description
-- 2022-02-15 – Jared Howard - Stylesheet started
-- 2022-02-18 - Jared Howard - Styling for headers and footers completed. Worked around div elements by using some sections
-- 2022-02-19 - Jared Howard - Added a subsection for gallery photos and moved photo formatting to bottom
-- 2022-02-27 - Jared Howard - Header change history hasn't been updated since 19th, there's too much to include here.
-- For details on changes, see the specific section change history
--
-- SOURCES:
-- https://www.w3schools.com/csS/css_font_google.asp
-- https://fonts.googleapis.com/css?family=Trirong
--*/

/* ------------------------- TEXT STYLING ---------------------------
-- DESCRIPTION: Formatting section for text
-- */
/* ---------------------- TEXT STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-17 - Jared Howard – Section created and text styling added for body and h1-4
-- 2022-02-27 - Jared Howard - Added subsection for a google font and changed all font-family tags
-- 2022-03-03 - Jared Howard - Changed color
-------------------------- END OF CHANGES ------------------------ */

a {
    font-family: "Trirong", serif;
    color: black;
}

    a:link, a:visited, a:hover, a:active {
        font-family: "Trirong", serif;
        color: black;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }

body {
    font-family: "Trirong", serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #FFDFED;
}

header {
    width: 100%;
    padding: 10px;
    background-color: #FFDFED;
}

h1 {
    font-family: "Trirong", serif;
}

h2 {
    font-family: "Trirong", serif;
}

h3 {
    font-family: "Trirong", serif;
}

h4 {
    font-family: "Trirong", serif;
}

p {
    font-family: "Trirong", serif;
    color: black;
}


/* ------------------------ GOOGLE SUBSECTION STYLING --------- */
/* -- SOURCES:
-- https://www.w3schools.com/csS/css_font_google.asp
-- https://fonts.googleapis.com/css?family=Trirong
-- */

/* thai */
@font-face {
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/trirong/v9/7r3GqXNgp8wxdOdOn58o2JZg.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/trirong/v9/7r3GqXNgp8wxdOdOn4Qo2JZg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/trirong/v9/7r3GqXNgp8wxdOdOn4Uo2JZg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/trirong/v9/7r3GqXNgp8wxdOdOn4so2A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ------------------------ END OF GOOGLE SUBSECTION STYLING --------- */

/* ------------------------ END OF TEXT STYLING --------------------- */

/* ------------------------- HEADER STYLING ---------------------------
-- DESCRIPTION: Formatting section for page headers.
-- */
/* ---------------------- HEADER STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-17 - Jared Howard – Section created and navigation text style added. Added a green background to test color.
-- 2022-02-19 - Jared Howard – Added styling IDs for the two header sections (#prc and #navigation)
-- 2022-02-23 - Jared Howard - Redid styling and spacing for headers (again)
-- 2022-02-27 - Jared Howard - Increased header size and PRC font
-- 2022-03-03 - Jared Howard - Changed color
-------------------------- END OF CHANGES ------------------------ */

#navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: #FFDFED;
}

nav {
    font-family: "Trirong", serif;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    background-color: #FFDFED;
}

    nav ul {
        font-family: "Trirong", serif;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        color: black;
        background-color: #FFDFED;
    }

        nav ul li {
            font-family: "Trirong", serif;
            display: inline-block;
            color: black;
            background-color: #FFDFED;
        }

/* ------------------------ END OF HEADER STYLING --------------------- */

/* ------------------------- FOOTER STYLING ---------------------------
-- DESCRIPTION: Formatting section for page footers.
-- */
/* ---------------------- FOOTER STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-17 - Jared Howard – Section created and navigation text style added
-- 2022-02-19 - Jared Howard – Added styling ID for page footer
-- 2022-02-20 - Jared Howard – added a 0px padding for footers to keep them stuck at bottom
-- 2022-02-23 - Jared Howard - Changed spacing and padding to make it look much better
-- 2022-03-03 - Jared Howard - Changed color
-------------------------- END OF CHANGES ------------------------ */

#footer {
    width: 100%;
    height: 3%;
    padding: 0px;
    padding-bottom: 20px;
    bottom: 0px;
    background-color: #FFDFED;
}

/* ------------------------ END OF FOOTER STYLING --------------------- */

/* ------------------------- HOME.html STYLING ---------------------------
-- DESCRIPTION: Formatting section Home page of our site
-- */
/* ---------------------- HOME.html STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-19 - Jared Howard – Created section and started IDs for each section I created
-- 2022-02-20 - Jared Howard – Cut down on styling rules to make the sections work better
-- 2022-02-23 - Jared Howard – Added styling using mostly grids to format homepage.
-- 2022-02-27 - Jared Howard - Increased size of rows after new font was added, ajusted grids and pictures to display properly
-- 2022-03-03 - Jared Howard - Changed styling and added some background color for text
-------------------------- END OF CHANGES ------------------------ */

#welcome {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
}

#services {
    text-align: center;
    background-color: #FFDFED;
    padding: 1%;
}

#mealpreparation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    text-align: left;
    align-items: center;
}

#mpreptxt {
    padding: 3%;
    background-color: #E9E5E9;
}

#catering {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    text-align: left;
    align-items: center;
}

#catertxt {
    padding: 3%;
    background-color: #E9E5E9;
}

/* FILENAME: profile.png */
#profile {
    width: 85%;
    height: auto;
}

/* FILENAME: mealprep.png */
#mealprep {
    padding-bottom: 10%;
    width: 85%;
    height: auto;
}

/* FILENAME: catering.jpg */
#cateringpic {
    padding-bottom: 10%;
    width: 85%;
    height: auto;
}

/* ------------------------ END OF HOME.html STYLING --------------------- */

/* ------------------------- ABOUT.html STYLING ---------------------------
-- SOURCE: (gallery styling)
https://www.w3docs.com/snippets/css/how-to-auto-resize-an-image-to-fit-an-html-container.html
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/
-- DESCRIPTION: Formatting section for the About page of our site
-- */
/* ---------------------- ABOUT.html STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-19 - Jared Howard – Created section and started IDs for each section I created
-- 2022-02-20 - Jared Howard – Created and formatted aboutme section. Tried getting customer review section to be formatted nicely.
-- 2022-02-22 - Jared Howard - Added some functionality for gallery display on About.html page. Subsection for that code created.
-- 2022-02-23 - Jared Howard - Switched to formatting with grids. Most changes involve spacing.
-- 2022-02-27 - Jared Howard - Adjusted grids so the page displays properly when resizing
-------------------------- END OF CHANGES ------------------------ */

#aboutme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#customerreviews {
    padding: 5%;
}

#customerreviewsgrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ------------------------- ABOUT.html GALLERY SUBSECTION STYLING -------- */

/* Button */
button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

/* PRODUCT */
.product {
    position: relative;
    overflow: hidden;
    padding: 4%;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

    .product-container::-webkit-scrollbar {
        display: none;
    }

.product-card {
    flex: 0 0 auto;
    width: 25%;
    height: auto;
    margin-right: 5px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #E9E5E9 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

    .pre-btn img,
    .nxt-btn img {
        opacity: 0.2;
    }

    .pre-btn:hover img,
    .nxt-btn:hover img {
        opacity: 1;
    }

/* ------------------------- ABOUT.html GALLERY SUBSECTION STYLING -------- */

/* ------------------------ END OF ABOUT.html STYLING --------------------- */

/* ------------------------- CONTACT.html STYLING ---------------------------
-- DESCRIPTION: Formatting section for the CONTACT page of our site
-- */
/* ---------------------- CONTACT.html STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-23 - Jared Howard - Section created and placeholder formatter added
-- 2022-02-24 - Jared Howard - IDs created for styling and spacing purposes
-- 2022-02-27 - Jared Howard - Redid styling and spacing. Added Text explanations from Squarespace site
-------------------------- END OF CHANGES ------------------------ */

.inquireButton {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
}

.waitlistButton {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
}

#contact {
    width: 100%;
    height: 750px;
}

#infosec1 {
    background-color: #FFDFED;
    border: black;
    border-style: solid;
    padding-right: 15%;
    padding-left: 15%;
}

#infosec2 {
    background-color: #FFDFED;
    border: black;
    border-style: solid;
    padding-right: 15%;
    padding-left: 15%;
}

#spacersec1 {
    padding-bottom: 10%;
}

#spacersec2 {
    padding-bottom: 5%;
}

#contactspacer {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#contactintro {
    text-align: center;
    background-color: #FFDFED;
    padding: 1%;
}

#contactform {
    padding-top: 4%;
    padding-left: 30%;
    padding-bottom: 5%;
    width: 70%;
}

#waitlistspacer {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#waitlistintro {
    text-align: center;
    background-color: #FFDFED;
    padding: 1%;
}

#waitlistform {
    padding-top: 4%;
    padding-left: 30%;
    padding-bottom: 5%;
    width: 70%;
}

/* ------------------------ END OF CONTACT.html STYLING --------------------- */

/* ------------------------- HOW-IT-WORKS.html STYLING ---------------------------
-- DESCRIPTION: Formatting section for the how it works page of our site
-- */
/* ---------------------- HOW-IT-WORKS.html STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-23 - Jared Howard - Section created and placeholder formatter added
-- 2022-02-24 - Zulalureman Ebro - How it works code submitted
-- 2022-02-24 - Jared Howard - Styling adjusted for styling and spacing purposes
-- 2022-02-27 - Jared Howard - Added a section for the cooking POV upon request of client
-- 2022-03-03 - Jared Howard - Removed container styling (no longer needed). Changed layout and styling.
-------------------------- END OF CHANGES ------------------------ */

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.text-block {
    top: 45%;
    left: 40%;
    right: 10%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #EEEEEE;
    color: black;
    text-align: center;
    font-size: 16px;
    border: black;
    border-style: solid;
    border-width: thin;
}

#hiwintro {
    text-align: center;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 25%;
}

#hiwintrocolor {
    background-color: #FFDFED;
    padding: 2%;
    width: 60%;
}

#hiwsec1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1%;
    padding-left: 15px;
    padding-right: 15px;
    grid-gap: 2%;
    text-align: left;
    align-items: center;
}

#hiwsec2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1%;
    padding-left: 15px;
    padding-right: 15px;
    grid-gap: 2%;
    text-align: left;
    align-items: center;
}

#hiwsec3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1%;
    padding-left: 15px;
    padding-right: 15px;
    grid-gap: 2%;
    text-align: left;
    align-items: center;
}

/* ------------------------ END OF HOW-IT-WORKS.html STYLING --------------------- */

/* ------------------------- FAQ.html STYLING ---------------------------
-- DESCRIPTION: Formatting section for the FAQ page of our site
-- */
/* ---------------------- FAQ.html STYLING CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-22 - Shweta Kushan - Initial drop downs and styling created
-- 2022-02-23 - Jared Howard - Styling changed up 
-- 2022-02-27 - Jared Howard - Changed background color and style/spacing of headings
-- 2022-03-02 - Jared Howard - Fixed drop down menu overlapping problem
-- 2022-03-03 - Jared Howard - Changed color
-------------------------- END OF CHANGES ------------------------ */

#faqsec1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 20px;
    align-items: center;
}

#faqsec2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 20px;
    align-items: center;
}

summary {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

details {
    padding-bottom: 25px;
}

    details > summary {
        background-color: #FFDFED;
        border: none;
        box-shadow: 1px 1px #bbbbbb;
        cursor: pointer;
    }

    details > p {
        background-color: #E9E5E9;
        align-items: center;
        padding-right: 15px;
        padding-left: 60px;
        padding-bottom: 15px;
        margin: 0;
        box-shadow: 1px 1px #bbbbbb;
    }

/* ------------------------ END OF FAQ.html STYLING --------------------- */

/* ------------------------- SITE PHOTOS ---------------------------
-- DESCRIPTION: Formatting section for site photos
-- */
/* ---------------------- SITE PHOTOS CHANGES ----------------------
-- Date ------- Developer ---- Description
-- 2022-02-15 - Jared Howard – Section created and first examples written.
-- 2022-02-19 - Jared Howard – Some comments added and subsection created for a gallery.
-- 2022-02-22 - Jared Howard – Replaced placeholder formatting for gallery pictures with comments. 
-- 2022-02-24 - Jared Howard – pic1-3 IDs added as placeholders if needed
-------------------------- END OF CHANGES ------------------------ */
/* FILENAME: pic1.png */
#pic1 {
}
/* FILENAME: pic2.jpg */
#pic2 {
}
/* FILENAME: pic3.png */
#pic3 {
}

/* ------------------------ END OF SITE PHOTOS --------------------- */
